body{
   overflow-x: hidden;
}

.navBar{
    background-color: #00023d;
}

.cabecero {
    color: #fff;
    background:  url(/public/images/fondo.png), linear-gradient(to right, #0452a5, #007bff)
}

.bodyCard {
    background-color: rgb(247, 247, 247);
}

.link {
    text-decoration: none;
    color: rgb(175, 175, 175);
}

.link:hover, .link:focus {
    color:beige
}

.footer {
    height: 70px;
}
  




